/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

app-root {
  .container {
    //margin-top: 70px;
    padding: 70px 15px 0;
  }
}

a {
  cursor: pointer;
}
